---
layout: default
---
<div
  class="news-discovery news-discovery--image-cards"
      data-ga-block="news_discovery"
  >
      
<h2 class="title title--discovery">
  Recent News</h2>
  
              <ul class="l-switcher">
              {% for post in paginator.posts %}
                {% include post-card.html %}
              {% endfor %}
              </ul>
          <div class="l-cluster l-cluster--end">
<a class="cta cta--with-arrow" href="#" aria-label="View More: Latest Manga Releases">
      <span>View More</span>
</a>
    </div>
            </div>
