---
layout: default
---
<div
  class="news-discovery news-discovery--image-cards"
      data-ga-block="news_discovery"
  >
      
<h2 class="title title--discovery">
  Recent News</h2>
  
              <ul class="l-switcher">
              {% for post in paginator.posts %}
              {% if post.tag contain 'Anime' %}
                {% include post-card.html %}
              {% endif %}
              {% endfor %}
              </ul>
              {% include pagination.html %}
            </div>
