	  {% for manga in site.manga limit:1 %}
		<div
  class="hero"
      data-ga-block="hero"
  >
  <div class="l-frame u-colorize u-colorize--red">
      <img width="2560" height="1600" src="{{ manga.cover }}" class="attachment-post-thumbnail size-post-thumbnail" alt="{{ manga.subtitle }}" loading="lazy" sizes="(max-width: 2560px) 100vw, 2560px" decoding="async" style="--image-width: 2560; --image-height: 1600;" />  </div>

  <div class="hero__text l-box">
    <h2 class="title title--discovery l-stack">
      <span class="kicker">{% for tag in manga.tags limit:3 %}{{ tag }}{% endfor %}</span>
      
      <span>{{ manga.subtitle }}</span>
    </h2>

    <div class="l-cluster l-cluster--spread l-cluster--center-vertical">
      <p class="byline"></p>
      <a class="cta cta--with-arrow" href="{{ manga.url }}"
          aria-label="View: Sweat and Soap">
      <span>Baca</span>

    <svg
  width="34"
  height="34"
  viewBox="0 0 34 34"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="
    icon
          icon--with-fill
        icon--arrow-right  "
>
  <path d="M15.4959 0L31.4348 15.9388H0V18.0612H31.4348L15.4959 34H18.4999L34 18.4999V15.4959L18.4999 0H15.4959Z"/></svg>  </a>
          
                        </div>
      </div>
</div>
    {% endfor %}
