<footer id="colophon" class="site-footer">
    <div class="site-footer__main l-box theme-dark">

    <div class="l-sidebar">
              <div class="l-sidebar__main">
          <div class="site-footer__info">
                          
<h2 class="site-footer__title">
  Media Sejenak</h2>
            
                          <p>{{ site.description }}</p>
                      </div>
        </div>
      
      <div>
        <div class="l-cluster">
          <div class="menu-social-container">
            <ul id="menu-social" class="menu">
              <li><a href="{{ site.url }}/about">About</a></li>
              <li><a href="{{ site.url }}/Contact">Contact</a></li>
              <li><a href="{{ site.url }}/Disclaimer">Disclaimer</a></li>
              <li><a href="{{ site.url }}/privacy-policy">Privacy Policy</a></li>
              <li><a href="{{ site.url }}/MediaCiber">Pedoman Media Siber</a></li>
            </ul>
          </div>
        </div>
      </div>

          <p class="site-footer__copyright">
        <small>© 2021 Media Sejenak. All Rights Reserved.</small>
      </p>
      </div>
</div> </footer>
