<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 150 }}{% else %}{{ site.description }}{% endif %}">
  <meta name='keywords' content="{% if page.keyword %}{{ page.keyword }}{% endif %}">
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  {% if page.amp %}
  <link rel="amphtml" href="{{site.url}}/amp{{ page.url }}">
  {% endif %}
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!-- icon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsMediaOrganization",
  "name": "Media Sejenak",
  "url": "https://mediasejenak.xyz",
  "logo": "https://mediasejenak.xyz/apple-icon-60x60.png",
  "sameAs": "https://twitter.com/mediasejenak"
}
</script>

        <!-- CSS -->
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/slider-radio.css">
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/select2.min.css">
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/magnific-popup.css">
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/plyr.css">
	<link rel="stylesheet" href="https://www.mediasejenak.xyz/css/main.css">

  <script>
    var base_url = {{ site.baseurl | jsonify }},
        pagination_next_url = base_url + '{{ paginator.next_page_path }}',
        pagination_next_page_number = '{{ paginator.next_page }}',
        pagination_available_pages_number = '{{ paginator.total_pages }}';
  </script>
</head>
