<header class="header header--hidden">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<button class="header__menu" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>

						<a href="{{ site.url }}" style="text-alignt: center;">
							<img height="50" width="150" src="{{ site.logo }}"/>
						</a>

						<ul class="header__nav">
					        <li class="header__nav-item"><a class="header__nav-link" href="{{ site.url }}">Home</a></li>
                  <li class="header__nav-item"><a class="header__nav-link" href="{{ site.baseurl }}/tag/Anime">Anime</a></li>
                  <li class="header__nav-item"><a class="header__nav-link" href="{{ site.baseurl }}/tag/K-Pop">K-Pop</a></li>
                  <li class="header__nav-item"><a class="header__nav-link" href="{{ site.baseurl }}/tag/Food">Food</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
