<header class="header header--hidden">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<a class="header__menu" href="{{ site.url}}{{site.baseurl}}{{ page.url | replace: '/amp', '' }}">
							<span></span>
							<span></span>
							<span></span>
						</a>
                                                
						<h3 class="header__logo"><a href="{{ site.url }}"><b>{{ site.title }}</b></a></h3>

						<ul class="header__nav">
					        <li class="header__nav-item"><a class="header__nav-link" href="{{ site.url }}">Home</a></li>
					        <li class="header__nav-item"><a class="header__nav-link" href="{{ site.url }}/about.html">About</a></li>
						</ul>

						<div class="header__actions">
						<h4><a href="{{ site.url}}{{site.baseurl}}{{ page.url | replace: '/amp', '' }}" class="header__search"><b>Lihat artikel asli</b></a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
