<header class='c-header'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--3-4-s o-grid__col--4-4-m'>
      <div class='c-logo'>
        {% if site.logo %}
          <a href='{{ site.baseurl }}/'>
            <img class='c-logo__img' src='{{ site.logo }}' alt='{{ site.title }}'>
          </a>
        {% else %}
          <a class='c-logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
        {% endif %}
      </div>
    </div>

<amp-sidebar id="sidebar-right" class="sample-sidebar" layout="nodisplay" side="right">
  <h3>Sidebar</h3>
  <button on="tap:sidebar-right.close">Close sidebar</button>
  <nav toolbar="(min-width: 784px)" toolbar-target="target-element-right">
    {% include navigation.html %}
  </nav>
</amp-sidebar>
<label class='js-off-canvas-toggle c-off-canvas-toggle' on="tap:sidebar-right.toggle">
  <span class='c-off-canvas-toggle__icon'></span>
</label>
<div id="target-element-right"></div>

  </div>
</header>

{% include search-form.html %}
