html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.5s ease;
  transition-property: color, background-color, border-color;
  cursor: pointer;
}
button:focus {
  outline: none;
}
a {
  transition: 0.5s ease;
  transition-property: color, background-color, border-color;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-moz-selection {
  background: #000000;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #fff;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
:-moz-placeholder {
  color: #000000;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f80ed;
  outline: 1px solid #fff;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1330px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  transition: 0.5s, margin 0s;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 80px;
  width: 100%;
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  background-color: #fff;
  top: -250px;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 250px;
  padding: 20px;
  transition: 0.5s;
  background: #fff;
  border-bottom: 1px solid #fff;
}
.header__nav-link {
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  height: 22px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}
.header__nav-link:hover {
  color: #2f80ed;
}
.header__nav-item {
  margin-bottom: 20px;
  position: relative;
}
.header__nav-item:last-child {
  margin-bottom: 0;
}
.header__menu {
  position: absolute;
  width: 24px;
  height: 22px;
  display: block;
  left: 0;
  top: 29px;
}
.header__menu span {
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  border-radius: 2px;
  transition: 0.5s;
  opacity: 1;
}
.header__menu span:first-child {
  top: 0;
}
.header__menu span:nth-child(2) {
  top: 10px;
  width: 16px;
}
.header__menu span:last-child {
  top: 20px;
  width: 8px;
}
.header__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__search {
  margin-right: 30px;
}
.header__search svg {
  width: 20px;
  height: auto;
  fill: #2f80ed;
}
@media (min-width: 576px) {
  .header__nav {
    padding-left: calc((100% - 510px) / 2);
  }
}
@media (min-width: 768px) {
  .header__nav {
    padding-left: calc((100% - 690px) / 2);
  }
  .header__search {
    margin-right: 43px;
  }
}
@media (min-width: 992px) {
  .header__nav {
    padding-left: calc((100% - 930px) / 2);
  }
  .header__search {
    margin-right: 163px;
  }
}
@media (min-width: 1200px) {
  .header--hidden .header__content,
  .header--hidden .header__nav-item {
    transition: height 0.5s;
  }
  .header__content {
    height: 100px;
    overflow: visible;
  }
  .header__nav {
    flex-direction: row;
    align-items: center;
    top: auto;
    left: auto;
    position: relative;
    height: 100px;
    padding: 0;
    width: auto;
    z-index: 2;
    background-color: transparent;
    background: none;
    border-bottom: none;
  }
  .header__nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    margin-bottom: 0;
    margin-right: 60px;
  }
  .header__nav-item:last-child {
    margin-right: 0;
  }
  .header__menu {
    display: none;
  }
  .header__actions {
    justify-content: space-between;
    width: 350px;
  }
  .header__search {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header__actions {
    width: 383px;
  }
  .header__content {
    padding: 0 30px;
  }
}

.section {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}
.section--head {
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 0;
  border-top: 1px solid #fff;
}
.section--gradient:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 300px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background: #fff;
  pointer-events: none;
}
.section--gradient .container {
  z-index: 2;
  position: relative;
}
.section--details-bg {
  padding-bottom: 60px;
  padding-top: 120px;
}
.section__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
}
.section__bg:before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background: linear-gradient(180deg, rgba(19,23,32,0.5) 0%, #fff 100%);
  pointer-events: none;
}
@media (min-width: 768px) {
  .section {
    padding: 80px 0;
  }
  .section--head {
    padding-top: 40px;
    padding-bottom: 0;
  }
  .section--details-bg {
    padding-bottom: 80px;
    padding-top: 160px;
  }
}
@media (min-width: 1200px) {
  .section--gradient:after {
    height: 500px;
  }
  .section--head {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .section--head-fixed {
    margin-top: 101px;
  }
  .section--details-bg {
    padding-bottom: 80px;
    padding-top: 160px;
  }
}

.card__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.card__list li {
  font-size: 12px;
  color: #000000;
  margin-right: 15px;
  white-space: nowrap;
}
.card__list li:last-child {
  margin-right: 0;
}

.interview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.interview__cover {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.interview__cover img {
  position: relative;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}
.interview__cover:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.9) 100%);
  opacity: 0.65;
  transition: 0.5s;
}
.interview__title {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0;
  margin-top: 15px;
}
.interview__title a {
  color: #000000;
}
.interview:hover .interview__cover:before {
  opacity: 0.9;
}
.interview:hover .interview__cover img {
  transform: scale(1.08);
}
.interview:hover .interview__title a {
  color: #2f80ed;
}
@media (min-width: 768px) {
  .interview {
    margin-top: 30px;
  }
  .interview__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.article__content {
  position: relative;
}
.article__content img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 16px;
}
.article__content h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
  line-height: 140%;
}
.article__content h1 {
  font-size: 32px;
}
.article__content p {
  display: block;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
}
.article__content ul {
  margin-bottom: 20px;
  display: block;
}
.article__content ul li {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
  padding-left: 20px;
  position: relative;
}
.article__content ul li:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2f80ed;
  left: -2px;
  top: 50%;
  margin-top: -3px;
}
.article__content ul.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.article__content ul.list li {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.article__content ul.list li:first-child {
  padding-left: 0;
}
.article__content ul.list li:first-child:before {
  display: none;
}
.article__content ul.list li:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .article__content h1 {
    font-size: 36px;
  }
  .article__content h1,
  .article__content p,
  .article__content ul,
  .article__content img {
    margin-bottom: 30px;
  }
  .article__content img:last-child {
    margin-bottom: 0;
  }
  .article__content ul.list {
    margin-top: -20px;
  }
}
@media (min-width: 1200px) {
  .article__content {
    padding-right: 30px;
  }
}
.footer {
  background-color: #fff;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}
.footer:after {
  content: '';
  position: absolute;
  top: 0;
  height: 300px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background: linear-gradient(180deg, rgba(21,31,48,0.35) 0%, #fff 100%);
}
.footer .container {
  z-index: 2;
  position: relative;
}
.footer__flixtv {
  margin-top: 60px;
}
.footer__tagline {
  margin-top: 20px;
  display: block;
  font-size: 13px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 0;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.footer__social a {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: relative;
  transition-property: all;
}
.footer__social a svg {
  width: 100%;
  height: auto;
}
.footer__social a:last-child {
  margin-right: 0;
}
.footer__social a:hover {
  opacity: 1 ;
}
.footer__social:hover a {
  opacity: 0.4;
}
.footer__content {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(47,128,237,0.1);
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.footer__links a {
  font-size: 14px;
  color: #000000;
  margin-right: 20px;
}
.footer__links a:last-child {
  margin-right: 0;
}
.footer__links a:hover {
  color: #2f80ed;
}
.footer__copyright {
  display: block;
  font-size: 13px;
  color: #000000;
  margin-top: 20px;
}
.footer__title {
  display: block;
  margin-top: 30px;
  font-size: 15px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__nav a {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  color: #000000;
}
.footer__nav a:last-child {
  margin-bottom: 0;
}
.footer__nav a:hover {
  color: #2f80ed;
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 0;
  }
  .footer__content {
    margin-top: 80px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer__flixtv {
    margin-top: 40px;
  }
  .footer__title {
    margin-top: 40px;
  }
  .footer__links {
    width: auto;
    order: 2;
  }
  .footer__copyright {
    margin-top: 0;
    order: 1;
  }
}
@media (min-width: 1200px) {
  .footer:after {
    height: 500px;
  }
  .footer__social {
    display: inline-flex;
    width: auto;
  }
  .footer__links a {
    margin-right: 30px;
  }
  .footer__links a:last-child {
    margin-right: 0;
  }
}
.sign__group--checkbox input:not(:checked) {
  position: absolute;
  left: -9999px;
}
.sign__group--checkbox input:not(:checked) + label {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  line-height: 22px;
  margin: 0;
}
.sign__group--checkbox input:not(:checked) + label a {
  color: #2f80ed;
}
.sign__group--checkbox input:not(:checked) + label a:hover {
  color: #2f80ed;
  text-decoration: underline;
}
.sign__group--checkbox input:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
}
.sign__group--checkbox input:not(:checked) + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  transition: 0.5s;
  background: url("../img/checkmark.svg") no-repeat center/12px auto;
  border-radius: 8px;
}
.sign__group--checkbox input:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.sign__radio input:not(:checked) {
  position: absolute;
  left: -9999px;
}
