<div class="col-12 interview">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="interview__title">
      Previous
    </a>
  {% else %}
    <span class="interview__title">Previous</span>
  {% endif %}
  <span class="btn btn-primary">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="interview__title">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
