<div
  class="product-discovery"
      data-ga-block="product_discovery_large"
  >
  <header>
    
<h2 id="manga-populer" class="title title--discovery product-discovery__title l-stack">
<span class="kicker">Update Manga dan Anime</span>
<span>Manga Populer</span>
</h2>

      </header>

      <ul class="l-reel l-reel--4-up u-break-words">
        {% for series in site.series limit:5 %}
        <li>
          <div class="card product-card-large">
      <div class="series-image u-full-width l-frame">
    <img width="1200" height="960" src="{{ series.cover }}" class="attachment-post-thumbnail size-post-thumbnail" alt="{{ series.subtitle }}" loading="lazy" sizes="(max-width: 1200px) 100vw, 1200px" decoding="async" style="--image-width: 1200; --image-height: 960;" /></div>
  
  
  
<h3 class="title">
          <a href="{{ series.url }}" class="card__link">{{ series.subtitle }}</a>
      </h3>

  
      <p>
      <a
        class="cta cta--text"
        href="{{ series.url }}"
        aria-label="Read: To Your Eternity"
      >Baca</a>
    </p>
  </div>
        </li>
        {% endfor %}
      </ul>
  
      <div class="l-cluster l-cluster--end">
      <a
  class="cta cta--with-arrow"
  href="/tag/Series"
          aria-label="View More: Discover Manga"
  >
      <span>
      View More    </span>

    <svg
  width="34"
  height="34"
  viewBox="0 0 34 34"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="
    icon
          icon--with-fill
        icon--arrow-right  "
>
  <path d="M15.4959 0L31.4348 15.9388H0V18.0612H31.4348L15.4959 34H18.4999L34 18.4999V15.4959L18.4999 0H15.4959Z"/></svg>  </a>
    </div>
  </div>
