<div class="post-39928 page type-page status-publish hentry">		
  <div class="entry-content">
    <div class="filters">
<div class="filters__results">
<ul class="l-grid ">
{% for manga in site.manga %}
  <li>
    <div class="card product-card-large">
      <div class="l-frame product-image u-full-width">
      <img width="640" height="968" src="{{ manga.image }}" class="attachment-large size-large" alt="{{ manga.subtitle }}" loading="lazy"/>
  
  
      <h3 class="title">
        <a href="{{ manga.url }}" class="card__link">{{ manga.subtitle }}</a>
      </h3>

  
      <p>
      <a class="cta cta--text" href="{{ manga.url }}">Baca</a>
      </p>
    </div>
  </li>
{% endfor %}
</ul>
</div>
    </div>
  </div>
</div>
