<div
  class="product-discovery"
      data-ga-block="product_discovery_small"
  >
  <header>
    
<h2 class="title title--discovery product-discovery__title l-stack">
  <span>Latest News on K-Pop</span>
</h2>

      </header>

      <ul class="l-grid l-grid--max-3">
        {% for post in paginator.posts %}
        {% if post.tags contains 'Anime' %}
        <li>
<div class="card book-card-small">
  <div class="l-sidebar">
    <div class="l-sidebar__main">
      
      
<h3 class="title title--card-small">
                    <a href="{{ post.url }}" class="card__link">{{ post.title }}</a>
              </h3>

              <p class="byline byline--small">
                {{ post.description }}
              </p>
      
              <ul class="tag-list l-cluster l-cluster--baseline">
            <li>
        <span class="tag">{% for tag in post.tags limit:3 %}{{ tag }}{% endfor %}</span>
      </li>
      </ul>
      
          </div>

    <div class="u-reorder-first">
      <div class="l-frame product-image ">
    <img width="300" height="300" src="{{ post.image }}" class="attachment-medium size-medium" alt="{{ post.title }}" loading="lazy" sizes="(max-width: 300px) 100vw, 300px" decoding="async" style="--image-width: 300; --image-height: 300;" /></div>
    </div>
  </div>
</div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
  
  </div>
