---
date: 2021-09-01 02:10:00 +07:00
layout: manga
title: Baca Manga Jujutsu Kaisen Bahasa Indonesia Gratis
subtitle: Jujutsu Kaisen
description: Baca Manga Jujutsu Kaisen Sub Indo gratis hanya di Media Sejenak. Manga Jujutsu Kaisen mengisahkan perjalanan Itadori Yuji menjadi penyihir Jujutsu.
artikel: true
author: Gege Akutami
image: https://cdn.jsdelivr.net/gh/mediasejenak/mediasejenak.github.io@main/images/images%20(24).jpeg
cover: https://cdn.jsdelivr.net/gh/mediasejenak/mediasejenak.github.io@main/images/images%20(24).jpeg
tags: [Series]
keyword: Manga Jujutsu Kaisen, Baca Manga Jujutsu Kaisen, Boruto Jujutsu Kaisen, Manga Jujutsu Kaisen Sub Indo, Manga Jujutsu Kaisen Bahasa Indonesia, Itadori Yuji, Gojo Satoru, Megumi Fushiguro
---
<h2>Manga Info</h2>
<style>
	.demo {
		border:1px solid #000000;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #000000;
		padding:5px;
		background:#FFFFFF;
	}
	.demo td {
		border:1px solid #000000;
		padding:5px;
	}
</style>
<table class="demo">
	<tbody>
	<tr>
		<td>&nbsp;Judul</td>
		<td>&nbsp;{{ page.subtitle }}</td>
	</tr>
	<tr>
		<td>&nbsp;Author</td>
		<td>&nbsp;{{ page.author }}</td>
	</tr>
	<tr>
		<td>&nbsp;Illustrator</td>
		<td>&nbsp;{{ page.author }}</td>
	</tr>
	<tr>
		<td>&nbsp;Penerbit</td>
		<td>&nbsp;Viz Media</td>
	</tr>
	<tr>
		<td>&nbsp;Status</td>
		<td>&nbsp;Ongoing</td>
	</tr>
        <tr>
		<td>&nbsp;Rating on My Anime List</td>
		<td>&nbsp;8.8</td>
	</tr>
        <tr>
		<td>&nbsp;Genre</td>
		<td>&nbsp;Action, Shounen, Super Power, School, Paranormal</td>
	</tr>
	<tbody>
</table>

<h2>List Chapter</h2>

{% for manga in site.manga %}
  {% if manga.tags contains "JujutsuKaisen" %}
    <p id="{{ manga.subtitle }}"><a href="{{ manga.url }}">{{ manga.subtitle }}</a></p>
  {% endif %}
{% endfor %}

<h2>Sinopsis</h2>

<p>"Jujutsu Kaisen" menceritakan kisah Yuuji Itadori, seorang siswa SMA berbakat yang kuat dan siap untuk bergabung dengan klub olahraga sekolahnya. Namun, alih-alih bergabung dengan klub olahraga, ia bergabung dengan klub penelitian ilmu gaib. Alasannya, Yuuji hanya ingin bersenang-senang dan mengisi bahan bakar. Dia juga memiliki alasan khusus untuk pulang lebih awal untuk merawat kakeknya yang sudah tua dan sakit.</p>

<p>Tapi suatu hari salah satu tetua Yuuji membuka jimat di klub penelitian ilmu gaib yang dia temukan di sekolah. Makhluk mengerikan muncul dan menghantui kehidupan anggota klub penelitian ilmu gaib dan orang yang mereka cintai.</p>

<p>Sampai pada akhirnya beberapa teman Yuji menjadi korban. Ia berhasil melawan seluruh roh gaib tersebut walaupun tidak berbekal pengetahuan tentang mereka.</p>

<p>Ia juga bertemu dengan Megumi Fushigoro yang merupakan anak sekolah dari SMA Jujutsu, yang merupakan sekolah para penyihir jujutsu. Tugas para penyihir adalah melenyapkan seluruh roh yang mengganggu manusia.</p>

<p>Pada saat itu, Yuji mengalahkan salah satu roh dan mendapatkan salah salah satu jari dari roh terkuat bernama Sukuna. Jari tersebut sangat berbahaya, ketika seseorang memakannya, tubuhnya akan dirasuki Sukuna. Dan itulah yang dilakukan oleh Yuji, alhasil ia kini menjadi wadah bagi sukuna.</p>

<p>Selain itu, Yuji ternyata memiliki kemampuan untuk mengontrol Sukuna yang ada didalam tubuhnya, inilah yang membuat Goji Satoru tertarik dengan dirinya dan menjadikannya murid di SMA Jujutsu. Disinilah cerita Itadori Yuji dalam seri Jujutsu Kaisen dimulai.</p>

<p>Keyword Terkait: {{ page.keyword }}</p>
