<!DOCTYPE html>
<html ⚡ lang="id">
{% include headAMP.html %}

<body>
{% include header.html %}

<section class="section section--head section--head-fixed section--gradient section--details-bg">
                <div class="section__bg" data-bg="{{ page.image | prepend: site.baseurl }}"></div>
		<div class="container">
			<!-- article -->
			<div class="article">
				<div class="row">
					<div class="col-12 col-xl-8">
						<!-- article content -->
						<div class="article__content">
							<h1>{{ page.title }}</h1>

							<ul class="list">
								{% for tag in page.tags %}
								<li>{{ tag }}</li>
								{% endfor %}
							</ul>
                                                        <amp-img layout="responsive" height="720" width="1200" src="{{ page.image | prepend: site.baseurl }}"></amp-img>
							{{ content }}
						</div>
						<!-- end article content -->
					</div>
			  </div>
			</div>

{% if page.artikel %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
  "headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
  "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "dateModified": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "description": "{{ page.description }}",
  "author": {
    "@type": "Person",
    "name": "Ilham Maulana"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "https://mediasejenak.xyz/apple-icon-60x60.png",
      "width": "60",
      "height": "60"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.image }}",
    "height": "1200",
    "width": "720"
  }
}
</script>
{% endif %}
		</div>
</section>

{% include footer.html %}

        <!-- JS -->
	<amp-iframe frameborder="0" height="1" layout="responsive" sandbox="allow-scripts allow-same-origin" src="http://www.mediasejenak.xyz/bootstrap.bundle.min.html" width="1"></amp-iframe>
        <amp-iframe frameborder="0" height="1" layout="responsive" sandbox="allow-scripts allow-same-origin" src="http://www.mediasejenak.xyz/jquery-3.5.1.min.html" width="1"></amp-iframe>
        <amp-iframe frameborder="0" height="1" layout="responsive" sandbox="allow-scripts allow-same-origin" src="http://www.mediasejenak.xyz/jquery.magnific-popup.min.html" width="1"></amp-iframe>
        <amp-iframe frameborder="0" height="1" layout="responsive" sandbox="allow-scripts allow-same-origin" src="http://www.mediasejenak.xyz/main.html" width="1"></amp-iframe>
</body>
</html>
