<!DOCTYPE html>
<html ⚡ lang="id">
{% include headAMP.html %}

<body>

{% include headerAMP.html %}

<section class="section section--head section--head-fixed section--gradient section--details-bg">
                <amp-img layout="responsive" height="720" width="1200" src="{{ page.image | prepend: site.baseurl }}"></amp-img>				
                <div class="container">
			<!-- article -->
			<div class="article">
				<div class="row">
					<div class="col-12 col-xl-8">
						<!-- article content -->
						<div class="article__content">
							<h1>{{ page.title }}</h1>

							<ul class="list">
								{% for tag in page.tags %}
								<li>{{ tag }}</li>
								{% endfor %}
							</ul>
                                                        {{ content }}
						</div>
						<!-- end article content -->
					</div>
			  </div>
			</div>

{% if page.news %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
  "headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
  "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "dateModified": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "description": "{{ page.description }}",
  "author": {
    "@type": "Person",
    "name": "Ilham Maulana"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "https://mediasejenak.xyz/apple-icon-60x60.png",
      "width": "60",
      "height": "60"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.image }}",
    "height": "1200",
    "width": "720"
  }
}
</script>
{% endif %}
		</div>
</section>

{% include footer.html %}

</body>
</html>
