<!doctype html>
<html lang="en-US" class="u-no-scroll-x">
{% include head.html %}

<body class="home page-template-default page page-id-2">
	<div id="page" class="site">
			
{% include header.html %}
		
<main id="primary" class="site-main">

		
<article id="post-39928" class="post-39928 page type-page status-publish hentry">
	
	<div class="entry-content">

{% include featuredslide.html %}

{% include taganime.html %}

{% include tagkpop.html %}

{{ content }}

	</div><!-- .entry-content -->

	</article><!-- #post-2 -->

</main><!-- #main -->
	
{% include footer.html %}

<script src='https://cdn.jsdelivr.net/gh/mediasejenak/mediasejenak.github.io@main/js/application.js?ver=1.9.4' id='media-sejenak-application-js'></script>
<script src='https://cdn.jsdelivr.net/gh/mediasejenak/mediasejenak.github.io@main/js/wp-embed.min.js?ver=5.8' id='wp-embed-js'></script>

</div>
</body>
</html>
