<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
{% include header.html %}

<section class="section section--head section--head-fixed section--gradient section--details-bg">
                <div class="section__bg" data-bg="{{ page.image | prepend: site.baseurl }}"></div>
		<div class="container">
			<!-- article -->
			<div class="article">
				<div class="row">
					<div class="col-12 col-xl-8">
						<!-- article content -->
						<div class="article__content">
							<h1>{{ page.title }}</h1>

							<ul class="list">
								{% for tag in page.tags %}
								<li>{{ tag }}</li>
								{% endfor %}
							</ul>
                                                        <img src="{{ page.image | prepend: site.baseurl }}"/>
							{{ content }}
						</div>
						<!-- end article content -->
					</div>
			  </div>
			</div>

{% if page.artikel %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
  "headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
  "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "dateModified": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "description": "{{ page.description }}",
  "author": {
    "@type": "Person",
    "name": "Ilham Maulana"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "https://mediasejenak.xyz/apple-icon-60x60.png",
      "width": "60",
      "height": "60"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.image }}",
    "height": "1200",
    "width": "720"
  }
}
</script>
{% endif %}

  {% include disqus.html %}

  <h3 class="interview__title" style="text-align: center;">Mungkin Kamu Suka</h3>
  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}


  {% for post in site.posts %}


    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      {% include post-card.html %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
		</div>
</section>

{% include footer.html %}

        <!-- JS -->
	<script src="https://nimeflix.github.io/js/jquery-3.5.1.min.js"></script>
	<script src="https://nimeflix.github.io/js/bootstrap.bundle.min.js"></script>
	<script src="https://nimeflix.github.io/js/owl.carousel.min.js"></script>
	<script src="https://nimeflix.github.io/js/slider-radio.js"></script>
	<script src="https://nimeflix.github.io/js/select2.min.js"></script>
	<script src="https://nimeflix.github.io/js/smooth-scrollbar.js"></script>
	<script src="https://nimeflix.github.io/js/jquery.magnific-popup.min.js"></script>
	<script src="https://nimeflix.github.io/js/plyr.min.js"></script>
	<script src="https://nimeflix.github.io/js/main.js"></script>
</body>
</html>
